<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
    <h1>{{ blog.title }}</h1>
    <img src="{{blog.image.url}}" width = "400px" height="400px" alt="">
    <p>{{ blog.description }}</p>
    <a href="change/"><button>Change Post</button></a>
    {% for i in comments %}
        <h2>{{ i.text }}</h2>
    {% endfor %}
    <form method="post" action="/blog/comment/{{ blog.id }}/">
        {% csrf_token %}
        <p>
            <input name = "text" placeholder = "Leave a comment" type="text">

            <input value="Add" type="submit">
        </p>
    </form>



</body>
</html>
